.container {
    height: 100%;
}

.article {
    background: none;
    box-shadow: none;

    a {
        text-decoration: none;
        color: inherit;
    }

    .article-date {
        font-size: 0.8rem;
        font-weight: 600;
        margin: 0;
    }
}

.load-more-articles-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.loading-container,
.no-articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
